
<!-- -->
<%- include('partials/header'); -%>

<body>

<ul class="recipes">
  <a href="/mailingfile"> 
    <li class="recipe">
    <img src="Pictures/data.png" alt=" ">
    <h4>Mailing File</h4>
    <p>Appeal Set Up</p>
  </li>
</a>

<a href="/Fulfilment">

  <li class="recipe">
    <img src="Pictures/furfilment.png" alt="">
    <h4>Fulfilment</h4>
    <p>Prepare to print</p>
  </li>
  
</a>


<a href="/Exports">

  <li class="recipe">
    <img src="Pictures/export.png" alt=" ">
    <h4>Exports</h4>
    <p>Sendng data to clients</p>
  </li>

</a>
  

<a href="/UserManagment">

  <li class="recipe">
    <img src="Pictures/usermng.png" alt=" ">
    <h4>User Managment</h4>
    <p>Manage or create users</p>
  </li>


</a>


<a href="/main">

  <li class="recipe">
    <img src="/smoothie.png" alt=" ">
    <h4>Unkown</h4>
    <p>...</p>
  </li>
  
</a>
  
  
 

<a href="/main">

  <li class="recipe">
    <img src="/smoothie.png" alt=" ">
    <h4>Unkown</h4>
    <p>...</p>
  </li>
  
</a>
  


</body>