<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/listofclients.css">
</head>
<body>

    <h2>*** LIST OF CLIENT ***</h2>

    <a href="/mailingfile/newclient"><button href="/mailingfile/newclient">New Client</button></a>

    
    <% clients.forEach(element=>{ %>

       <div class="list">

        <div class="elementContainer">
            <a class="single" href="/mailingfile/<%= element._id %>">
                <%= element.clientsname %> 
                
        </div> 

    <% }) %>

    
    
</body>
</html>