<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/newclient.css">
</head>
<body>
    <h1>*** WARNING ***</h1>
    <h1>PLEASE COPY THE NAME OF THE CLIENT THE SAME WAY IT'S LISTED ON CG</h1>
    <h1>ONCE A CLIENT WAS CREATED IT CAN <span> NOT </span> BE DELETED</h1>
    <form action="/mailingfile/newclient" method="POST">
        <label>Client's name</label>
        <input type="text" name="clientsname" required="true">
        <button type="submit">Submit</button>
    </form>
</body>
</html>